<ul>
  <li><b>Vehículo patente: </b><%= link_to "#{vehicle.vehicle_identifier}", vehicle_path(vehicle) %></li>
  <li><b>Enviado: </b> <%=vehicle.sent_at%></li>
  <li><b>Latitud: </b> <%=vehicle.locations.last.latitude%></li>
  <li><b>Longitud: </b> <%=vehicle.locations.last.longitude%></li>
</ul>
