<div class="container-fluid">
  <div id='indexmap' data-raw='<%=raw @hash.to_json %>'style='width: 800px;'>
    <div id="map" style='width: 1100px; height: 400px;'></div>
  </div></br>
  <table class="table detail_table">
    <thead>
      <tr>
        <th>id</th>
        <th>Identificador del vehículo</th>
        <th>Enviado</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <% @vehicles.each do |v| %>
        <tr>
          <td><%= v.id %></td>
          <td><%= v.vehicle_identifier %></td>
          <td><%= v.sent_at  %></td>
          <% v.locations.order('created_at desc').take(1).each do |l| %>
            <td><%= l.latitude %></td>
            <td><%= l.longitude  %></td>
          <% end %>
          <td><%= link_to "Mostrar", v  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Nuevo vehículo', new_vehicle_path, class:"btn btn-primary" %>
</div>


<script>
	$(function(){ Vehicle.init('index',$('#indexmap').data('raw'));});
</script>
