<div class="container-fluid">
  <%= form_for @vehicle do |f| %>
    <% if @vehicle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

        <ul>
        <% @vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="page-header">
      <h1>Crear nuevo <small>vehículo</small></h1>
    </div>

    <div class="form-group row ">
      <div class="col-sm-12"></br>
        <div class="form-group">
          <%= f.label "Identificador del vehículo" %></br>
          <%= f.text_field :vehicle_identifier %>
        </div>
        <div class="form-group">
          <%= f.label "Enviado" %></br>
          <%= f.text_field :sent_at %>
        </div>

        <%= f.fields_for :locations do |l| %>
          <div class="form-group">
            <%= l.label "Latitud" %></br>
            <%= l.text_field :latitude %>
          </div>

          <div class="form-group">
            <%= l.label "Longitud" %></br>
            <%= l.text_field :longitude %>
          </div>

          <div class="actions">
            <%= f.submit "Crear vehículo", class:"btn btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
