<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="panel-heading"><b><u>Vehículo</u></b></div></br>
        <div class="font-size_detail">
          <p><b>Identificador del vehículo:</b> <%= @vehicle.vehicle_identifier %></p>
          <p><b>Enviado:</b> <%= @vehicle.sent_at %></p>
          <% @vehicle.locations.each_with_index do |a,index| %>
            <% if index == @vehicle.locations.size - 1 %>
              <p><b>Latitud:</b> <%= a.latitude %></p>
              <p><b>Longitud:</b> <%= a.longitude %></p>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-4">
      <div class="contain_table">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><b><u>Historial de coordenadas</u></b></div></br>
          <table class="table detail_table">
            <thead>
              <tr>
                <th>Latitud</th>
                <th>Longitud</th>
              </tr>
            </thead>
            <tbody>
              <% @vehicle.locations.order('created_at desc').each do |l| %>
                <tr>
                  <td><%= l.latitude %></td>
                  <td><%= l.longitude  %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="panel panel-default">
        <div class="panel-heading"><b><u>Agregar nueva coordenada</u></b></div></br>
        <%= form_for [@vehicle, @vehicle.locations.build], remote: true do |f| %>
          <div class="form-group">
            <b><%= f.label "Latitud:" %></b></br>
            <%= f.text_field :latitude %>
          </div>
          <div class="form-group">
            <b> <%= f.label "Longitud:" %></b></br>
            <%= f.text_field :longitude %>
          </div>
          <div class="actions">
            <%= f.submit "Ingresar coordenada", class:"btn btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>
  </div></br>

  <div id='showmap' data-raw='<%=raw @hash.to_json %>' style='width: 100%;'>
    <div id="map" style='width: 1100px; height: 400px;'></div>
  </div>

  <%= link_to 'Regresar', vehicles_path %>
</div>

<script>
	$(function(){ Vehicle.init('show',$('#showmap').data('raw'));});
</script>
