/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import "bootstrap-sprockets";
 @import "bootstrap";
 */
.contain_table{
  height: 80% !important;
  overflow: scroll;
}

 .detail_table{
   th {
     background-color: #F7F7F9;
   }
   body{
     overflow-y: auto;
   }
   font-weight: bold;
   font-size: 10px;
 }

.font-size_detail{
  font-size: 12px;
}
