// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.detail_table{
  text-align: left;
  width: 125px;
  font-weight: bold;
  font-size: 9px !important;
}
